In [8]:
import pandas as pd

In [11]:
df_star = pd.read_csv("./data/big_startup_secsees_dataset.csv")
df_star["country_code"].unique()

#Selecion de las startup europeas
col_EU = european_countries_iso_alpha3 = [
    "ALB",  # Albania
    "AND",  # Andorra
    "AUT",  # Austria
    "BLR",  # Belarus
    "BEL",  # Belgium
    "BIH",  # Bosnia and Herzegovina
    "BGR",  # Bulgaria
    "HRV",  # Croatia
    "CYP",  # Cyprus
    "CZE",  # Czech Republic (Czechia)
    "DNK",  # Denmark
    "EST",  # Estonia
    "FIN",  # Finland
    "FRA",  # France
    "DEU",  # Germany
    "GRC",  # Greece
    "HUN",  # Hungary
    "ISL",  # Iceland
    "IRL",  # Ireland
    "ITA",  # Italy
    "XKX",  # Kosovo
    "LVA",  # Latvia
    "LIE",  # Liechtenstein
    "LTU",  # Lithuania
    "LUX",  # Luxembourg
    "MLT",  # Malta
    "MDA",  # Moldova
    "MCO",  # Monaco
    "MNE",  # Montenegro
    "NLD",  # Netherlands
    "MKD",  # North Macedonia
    "NOR",  # Norway
    "POL",  # Poland
    "PRT",  # Portugal
    "ROU",  # Romania
    "SMR",  # San Marino
    "SRB",  # Serbia
    "SVK",  # Slovakia
    "SVN",  # Slovenia
    "ESP",  # Spain
    "SWE",  # Sweden
    "CHE",  # Switzerland
    "TUR",  # Turkey
    "UKR",  # Ukraine
    "GBR",  # United Kingdom
    "VAT"   # Vatican City (Holy See)
]

df_EU = df_star[(df_star["country_code"].isin(col_EU))]

FileNotFoundError: [Errno 2] No such file or directory: './data/big_startup_secsees_dataset.csv'

In [ ]:
df_EU.status.value_counts()

NameError: name 'df_EU' is not defined

In [ ]:
df_EU.status.value_counts()

NameError: name 'df_EU' is not defined

In [ ]:
df_tel.groupby(['Data_Referencia',"Nom_Companyia"])["Nombre_Vols"].sum()

Data_Referencia  Nom_Companyia
2024-01-01       Air Europa            12
                 Air France            10
                 Air Nostrum            4
                 American Airlines      5
                 British Airways        8
                                     ...
2024-10-31       Vueling Airlines     333
                 Wizz Air              22
                 Wizz Air Malta        18
                 easyJet Europe        36
                 easyJet UK            14
Name: Nombre_Vols, Length: 7483, dtype: int64

In [ ]:
df_tel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10502 entries, 0 to 10501
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data_Referencia  10502 non-null  object
 1   Codi_Companyia   10502 non-null  int64
 2   Nom_Companyia    10502 non-null  object
 3   Codi_Zona        10502 non-null  int64
 4   Nom_Zona         10502 non-null  object
 5   Nombre_Vols      10502 non-null  int64
dtypes: int64(3), object(3)
memory usage: 492.4+ KB

In [ ]:
df_menu.isna().sum()

NameError: name 'df_menu' is not defined

In [ ]:
df_reviews = pd.read_csv("./Primer_EDA/data/turnover.csv", encoding = 'latin-1')
df_reviews

,stag,event,gender,age,industry,profession,traffic,coach,head_gender,greywage,way,extraversion,independ,selfcontrol,anxiety,novator
0,7.030801,1,m,35.0,Banks,HR,rabrecNErab,no,f,white,bus,6.2,4.1,5.7,7.1,8.3
1,22.965092,1,m,33.0,Banks,HR,empjs,no,m,white,bus,6.2,4.1,5.7,7.1,8.3
2,15.934292,1,f,35.0,PowerGeneration,HR,rabrecNErab,no,m,white,bus,6.2,6.2,2.6,4.8,8.3
3,15.934292,1,f,35.0,PowerGeneration,HR,rabrecNErab,no,m,white,bus,5.4,7.6,4.9,2.5,6.7
4,8.410678,1,m,32.0,Retail,Commercial,youjs,yes,f,white,bus,3.0,4.1,8.0,7.1,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1124,10.611910,0,f,41.0,Banks,HR,rabrecNErab,my head,m,white,bus,8.6,3.4,2.6,4.8,8.3
1125,10.611910,0,f,41.0,Banks,HR,rabrecNErab,my head,m,white,bus,8.6,3.4,2.6,4.8,8.3
1126,118.800821,0,f,34.0,Telecom,Accounting,KA,no,f,white,bus,4.6,5.5,7.2,6.3,3.7
1127,49.412731,0,f,51.0,Consult,HR,empjs,no,m,grey,bus,3.8,7.6,5.7,6.3,5.2
1128,24.837782,0,f,29.0,Retail,HR,youjs,no,f,white,car,9.4,1.2,4.1,5.6,6.7

In [ ]:
df_reviews.stag.min()

np.float64(0.394250513)

In [ ]:
df_reviews.groupby('profession')['event'].sum()

profession
Accounting               6
BusinessDevelopment     16
Commercial              15
Consult                 16
Engineer                11
Finanñe                 12
HR                     357
IT                      25
Law                      5
Marketing               21
PR                       5
Sales                   35
Teaching                12
etc                     20
manage                  15
Name: event, dtype: int64

In [ ]:
df_survey = pd.read_csv("./Primer_EDA/data/survey_16.csv")
df_survey

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,size_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,mental_health_consequence,phys_health_consequence,coworkers,supervisor
0,37,Female,United States,IL,NaN,No,Yes,Often,2,No,Yes,Yes,Not sure,No,Yes,Yes,No,No,Some of them,Yes
1,44,M,United States,IN,NaN,No,No,Rarely,6,No,No,Don't know,No,Don't know,Don't know,Don't know,Maybe,No,No,No
2,32,Male,Canada,NaN,NaN,No,No,Rarely,2,No,Yes,No,No,No,No,Don't know,No,No,Yes,Yes
3,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,3,No,Yes,No,Yes,No,No,No,Yes,Yes,Some of them,No
4,31,Male,United States,TX,NaN,No,No,Never,4,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,No,No,Some of them,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,26,male,United Kingdom,NaN,No,No,Yes,NaN,3,No,Yes,No,No,No,No,Don't know,No,No,Some of them,Some of them
1255,32,Male,United States,IL,No,Yes,Yes,Often,3,Yes,Yes,Yes,Yes,No,No,Yes,No,No,Some of them,Yes
1256,34,male,United States,CA,No,Yes,Yes,Sometimes,6,No,Yes,Yes,Yes,No,No,Don't know,Yes,Yes,No,No
1257,46,f,United States,NC,No,No,No,NaN,4,Yes,Yes,No,Yes,No,No,Don't know,Yes,No,No,No
1258,25,Male,United States,IL,No,Yes,Yes,Sometimes,3,No,No,Yes,Yes,No,No,Yes,Maybe,No,Some of them,No

In [ ]:
df_survey.tech_company.value_counts(dropna=False)

tech_company
Yes    1031
No      228
Name: count, dtype: int64

In [ ]:
df_survey.size_employees.value_counts(dropna=False)

size_employees
2    290
3    289
6    282
4    176
1    162
5     60
Name: count, dtype: int64

In [ ]:
from apify_client import ApifyClient

# Initialize the ApifyClient with your Apify API token
# Replace '<YOUR_API_TOKEN>' with your token.
client = ApifyClient("<YOUR_API_TOKEN>")

# Prepare the Actor input
run_input = {
    "query": "react",
    "location": "barcelona",
}

# Run the Actor and wait for it to finish
run = client.actor("lexis-solutions/infojobs-net-scraper").call(run_input=run_input)

# Fetch and print Actor results from the run's dataset (if there are any)
print("💾 Check your data here: https://console.apify.com/storage/datasets/" + run["defaultDatasetId"])
for item in client.dataset(run["defaultDatasetId"]).iterate_items():
    print(item)

# 📚 Want to learn more 📖? Go to → https://docs.apify.com/api/client/python/docs/quick-start